:root{
    --sidebar-width: 73px;
    --border-color: #5e5e5e;
}



.desktop-content{
    width: calc(100% - var(--sidebar-width)) !important;
    min-height: 100vh;
}

.bg-dark{
    background-color: #001120 !important;
}

.bg-secondary{
    background-color: #00152e !important;
}

.bg-info{
    background-color: #312c33 !important;
}

.text-light{
    color: #e6e6e6 !important;
}

.profile-pic{
    border: 2px solid var(--border-color) !important;
}

.post-content{
    border-radius: 8px;
    border: 1px solid var(--border-color) !important;
}

.post{
    border-bottom: var(--border-color) solid 1px;
}

