:root{
    --sidebar-width: 73px;
}


.content{
    width: calc(100% - var(--sidebar-width)) !important;
    min-height: 100vh;
}

.bg-dark{
    background-color: #001120 !important;
}

.bg-secondary{
    background-color: #00152e !important;
}

.bg-info{
    background-color: #312c33 !important;
}

.text-light{
    color: #e6e6e6 !important;
}
